main{
  background-color: rgb(255, 255, 255);
}

.FooterCon {
  margin-top: 2%;
  display: flex;
  justify-content: center;
}


Footer {
  display: flex;
  justify-content: flex-end;       
  gap: 12rem;            
  margin-top: var(--space-md);  
  padding-bottom: 5rem;   
}


footer, h1{
    color: black;
    font-family: "lexend", serif;
    font-size: 20px;
    font-weight: 300;
}

footer, h2{
  color: black;
  font-family: "lexend", serif;
  font-weight: 100;
  font-size: 28px;
}


.Social1, .Social2, .Social3{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.line4,
.line5 {
  width: 100%;
  height: 3px;
  background: black;
  opacity: 0.5;
  border-radius: 2px;
  margin-top: var(--space-md);
  margin-bottom: var(--space-md);
}


.Socials img{
    max-width: 25px;

}


.Socials a{
    color: black;
    font-weight: 300;
    font-size: 20px;
}



.button2 {
  align-items: center;
  background-color: transparent;
  color: #000000;
  cursor: pointer;
  display: flex;
  font-family: "lexend", serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  text-decoration: none;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  padding: 0rem;
}

.button2:before {
  background-color: #000000;
  content: "";
  display: inline-block;
  height: 3px;
  margin-right: 10px;
  transition: all .42s cubic-bezier(.25,.8,.25,1);
  width: 0;
}

.button2:hover:before {
  background-color: #000000;
  width: 2rem;
}


@media (max-width: 1200px){


Footer {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;            
  margin-top: var(--space-md);  
  padding-bottom: 5rem;  
}


.FooterCon {
  margin-top: 0rem;
  display: flex;
  justify-content: center;
}



.Social1, .Social2, .Social3{
    display: flex;
    gap: 0rem;
    align-items: center;
}


}